<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Guest List
        a(href="/") Back to Signup..
    body
    h1#guestListTitle Guest List
        ol.orderedList
        h3#attending Attending
        each person in weGoin
            li= person.name 
        span        
        ol.orderedList 
        h3#notAttending Not Attending        
        each person in weNotGoin
            li= person.name
   
    