<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="/reply" method="POST")
            fieldset
                legend="Your Contact Info"
                label(for="name")="Name"
                input(type="text", name="name" required)
                label(for="email")="Email"
                input(type="email", name="email" required)
                br
                input(type="radio", id="I'll be there!", name="attending", value="I'll be there!")
                label(for="I'll be there!")="I'll be there!"
                input(type="radio", id="I can't make it", name="attending", value="I can't make it")
                label(for="I can't make it")="I can't make it!"
                select#guests(name="headCount")
                    option(value="0") -- Select --
                    option(value="1") 1
                    option(value="2") 2 
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                button Submit